<div id="financial_informations_new" class="row collapse">
  <div class="columns small-10 small-offset-1 medium-6 medium-offset-3 large-6 large-offset-3">

    <h1>Income & Savings First...</h1>


    <%= form_for(@financial_information) do |f| %>

      <div class="form-section active">
        <%= f.label :income, "Total Annual Income" %>
        <a id="income-help-button" href="#income-help"><i class="fa fa-question-circle"></i></a>

        <div class="row collapse">
          <div class="columns small-2 large-2">
            <span class="prefix">$</span>
          </div>
          <div class="columns small-10 large-10">
            <%= f.text_field :income %>
          </div>
        </div>
      </div>

      <div class="form-section">
        <%= f.label :savings, "Savings" %>
        <a id="savings-help-button" href="#savings-help"><i class="fa fa-question-circle"></i></a>

        <div class="row collapse">
          <div class="columns small-2 large-2">
            <span class="prefix">$</span>
          </div>
          <div class="columns small-10 large-10">
            <%= f.text_field :savings %>
          </div>
        </div>
      </div>

      <div class="form-section">
        <%= f.label :retirement, "Saved for Retirement?" %>
        <a id="retirement-help-button" href="#retirement-help"><i class="fa fa-question-circle"></i></a>

        <div class="row collapse">
          <div class="columns small-2 large-2">
            <span class="prefix">$</span>
          </div>
          <div class="columns small-10 large-10">
            <%= f.text_field :retirement %>
          </div>
        </div>
      </div>


      <%= f.submit "Get Recommendation" %>

    <% end %>

  </div>
</div>

<div id="income-help" class="sidr-menu">
  <i class="fa fa-money money-bag"></i>
  <h3>Income Help</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, ab, doloribus qui facere quisquam quis consequuntur voluptatibus ullam error dicta eaque temporibus a cum commodi maiores voluptas sint veritatis tempore.</p>
  <a href=""><i class="fa fa-arrow-circle-left"></i></a>
</div>

<div id="savings-help">
</div>
<div id="retirement-help">
</div>